@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-toggle {
  background-color: #fff;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
@media all and (max-width: 754px) {
  .mobile-bg {
    background-color: #fff;
  }
}

.hero-section {
  background: linear-gradient(90deg, rgba(211, 237, 231, 1) 0%, rgba(247, 239, 239, 1) 100%);
}

.project_area {
  background: linear-gradient(90deg, rgb(231 245 242) 0%, rgb(245 245 234) 100%);
}
/* Start CSS For technology_area */
.technology_area {
  background: #fff;
}
.single_tech_item {
  text-align: center;
  border: 1px solid #eaebed;
  box-shadow: 0 0.5em 1em -0.125em #8a8a8a1a, 0 0 0 1px #0a0a0a00;
  padding: 10px;
  border-radius: 5px;
}
.single_tech_item:hover {
  box-shadow: 0 0.5em 1em -0.125em #8a8a8a1a, 0 0 0 1px #0a0a0a00;
}
.single_tech_item img {
  margin: 0 auto;
}
.techlogy-img {
  height: 40px;
  width: 50px;
}
.contact_area {
  background: linear-gradient(49deg, rgb(241 247 246) 0%, rgb(227 233 230) 100%);
}
